@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Quintessential&family=UnifrakturCook:wght@700&display=swap');

:root {
     --cor-primaria: #000000;
     --cor-secundaria: #e7c554;
     --cor-tercearia: #ffffff;
     --cor-hover: #5a5a5a;

     --font-principal: 'UnifrakturCook', cursive;
     --font-secundaria: 'quintessential', cursive;
     --font-tercearia: 'Krona One', sans-serif;
}
* {
    margin: 0;
    padding: 0;
}

.apresentaçao {
    padding: 10% 15%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    
} 

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255)
}

.cabecalho{
    padding: 2% 0% 0% 10%;
}
.cabecalho__menu{
    display: flex;
    
    gap: 32px;
}

.cabecalho__menu__link,
.cabecalho__menu__links,
.cabecalho__menu__linkss {
    
    color: var(--cor-secundaria);
    font-family: var(--font-principal);
    

}

.titulo-destaque {
    color: var(--cor-secundaria)
}
.apresentaçao__conteudo {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.Sobre {
    font-size: 2.25rem;
    font-family: var(--font-secundaria);
}
.Apresentaçao__conteudo__texto {
    font-size: 2.0rem;
    font-family: var(--font-principal);
    
}
.Apresentaçao__links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    
}
.apresentaçao__links__subtitulo {
    font-size: 0,93rem;
    font-family: var(--font-principal);
}
.Apresentaçao__links__link, 
.Apresentaçao__links__links {
    /* background-color: #e7c554; */
    display: flex;
    justify-content: center;
    gap: 8px;
    border: 2px solid var(--cor-secundaria);
    width: 50%;
    text-align: center;
    border-radius: 16px;
    font-size: 1.0rem;
    padding: 8px;
    text-decoration: none;
    color: var(--cor-tercearia);
}
.Apresentaçao__links__link:hover,
.Apresentaçao__links__links:hover {
    background-color: var(--cor-hover);
    
} 
.rodape {
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-secundaria);
    text-align: center;
    font-family: var(--font-tercearia);
}
.img {
    border-radius:7%;
    
}

@media  (max-width: 640px) {
    .cabecalho {
        padding: 10%;
    }

    .cabecalho__menu {
        justify-content: center;
        
    }
    
    .apresentaçao {
        flex-direction: column-reverse;
        padding: 10%;
    }

    .apresentaçao__conteudo {
        width: auto;
    }
}